@use '../styles/vars';

.discard-button {
  font-family: sans-serif;
  font-size: 24px;
  background: #ff0000;
  outline: none;
  width: 150px;
  border: 2px #ff0000 solid;
  padding: 10px;
  border-radius: 10px;
  color: vars.$light-color;
  transition: 0.35s ease-in;

  &:hover {
    transform: translatex(-15px);

    &::after {
      transform: translatex(-15px);
    }
  }
  &:active {
    border: 2px #000000 solid;
  }
}

.accept-button {
  font-family: sans-serif;
  font-size: 24px;
  background: vars.$green-color;
  outline: none;
  width: 150px;
  border: 2px vars.$green-color solid;
  padding: 10px;
  border-radius: 10px;
  color: vars.$light-color;
  margin-right: 30px;
  transition: 0.35s ease-in;

  &:hover {
    transform: translatex(15px);

    &::after {
      transform: translatex(15px);
    }
  }
  &:active {
    border: 2px #000000 solid;
  }
}

.wrapper {
  display: flex;
}

h2 {
  font-weight: 400;
}

.forms {
  justify-content: center;
  align-items: center;
  width: 90vw;

  &__item-content {
    display: none;
  }
}

.display {
  display: flex;
}

.display-none {
  display: none;
}

.forms__item {
  background-color: vars.$darker-color;
  width: 60vw;
  min-height: 130px;
  margin-left: 15vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.forms__item-content {
  width: 70%;

  button {
    margin-top: 30px;
  }
}

.center-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collapse-button {
  font-family: sans-serif;
  font-size: 24px;
  background: #00000000;
  outline: none;
  border: none;
  color: vars.$light-color;
  border-bottom: #00000000 2px solid;

  &:hover {
    border-bottom: vars.$light-color 2px solid;
    cursor: pointer;
  }
  &:active {
    border-bottom: vars.$green-color 2px solid;
    transition: 0.1s ease-in-out;
  }
}

.forms__item-content-window {
  background-color: #20202054;
  height: 100%;
  width: 100%;
}