.wrapper {
  height: 100vh;
}

.header {
  padding: 0;
  height: 16vh;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  &__wrapper {

    h1 {
      margin: 0;
    }
  }
}

.content {

  &__wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    button {
      background-color: vars.$dark-color;
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      font-family: sans-serif;
      &:visited {
        color: #fff;
      }
    }
  }

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    background-color: vars.$dark-color;
    width: 330px;
    margin: 10px;
    height: 100px;
    transition: .35s ease-in;

    &:hover {
      background-color: vars.$darker-color;
      transform: translatex(-15px);

      &::after {
        transform: translatex(-15px);
      }
    }

    &:active {
      border: vars.$green-color solid 2px;
    }
  }
}

@media(min-width: 720px) {
  .content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__element {
      width: 40vw;
    }
  }
}

@media (min-width: 1500px) {
  .content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__element {
      width: 30vw;
    }
  }
}




.content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
}

.content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-direction: column;
  flex-wrap: wrap;

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    background-color: vars.$dark-color;
    width: 80vw;
    margin: 10px;
    height: 100px;

    &:hover {
      background-color: vars.$darker-color;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &:visited {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

button {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 24px;
  font-family: sans-serif;
}

@media (min-width: 1024px) {
  .content__element {
    width: 30vw;
    margin: 30px 40px;
  }
}
