@use './../styles/vars';

.wl-app {
  height: 100%;
  background-color: rgba(32, 32, 33, 0.5);
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  border-radius: 20px;
  text-align: center;
}

.header {
  padding-top: 0;
  width: 100vw;
  margin: 0;
  font-size: 1.3em;
}
.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  &__element {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &--header {
      font-size: 1.2em;
      margin: 20px;
    }
    &-label {
      width: 100vw;
      height: 40px;
    }
    input {
      width: 90vw;
      height: 50px;
      margin: 20px;
      background-color: vars.$dark-color;
      color: #fff;
      border-radius: 20px;
      border: vars.$darker-color solid 2px;
      text-align: center;
      outline: none;

      &:hover {
        background-color: vars.$darker-color;
      }
    }

    &--medium {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      &--header {
        font-size: 1.2em;
        margin: 20px;
      }
      &-label {
        width: 100vw;
        height: 40px;
      }
      textarea {
        width: 90vw;
        height: 100px;
        margin: 20px;
        background-color: vars.$dark-color;
        color: #fff;
        border-radius: 20px;
        font-family: sans-serif;
        border: vars.$darker-color solid 2px;
        text-align: center;
        outline: none;
        resize: none;

        &:hover {
          background-color: vars.$darker-color;
        }
      }
    }

    &--large {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      &--header {
        font-size: 1.2em;
        margin: 20px;
      }
      &-label {
        width: 100vw;
        height: 40px;
      }
      textarea {
        width: 90vw;
        height: 150px;
        margin: 20px;
        background-color: vars.$dark-color;
        color: #fff;
        border-radius: 20px;
        font-family: sans-serif;
        border: vars.$darker-color solid 2px;
        text-align: center;
        outline: none;
        resize: none;

        &:hover {
          background-color: vars.$darker-color;
        }
      }
    }
  }
}
.send-button {
  width: 300px;
  margin-top: 50px;
  height: 100px;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 24px;
  font-family: sans-serif;
  background-color: vars.$dark-color;
  border-radius: 20px;
  transition: .35s ease-in;

  &:hover {
    background-color: vars.$darker-color;
    transform: translatex(-15px);

    &::after {
      transform: translatex(-15px);
    }
  }

  &-wrapper {
    margin-bottom: 50px;
  }

  &-message {
    color: #dd0000;
    margin: 20px;
    font-size: 0.8em;
  }
}

@media (min-width: 900px) {
  .form__element {
    input {
      width: 80vw;
    }

    &--medium {
      textarea {
        width: 80vw;
      }
    }

    &--large {
      textarea {
        width: 80vw;
      }
    }
  }
}

@media (min-width: 1200px) {
  .wl-app {
    width: 70vw;
  }

  .form__element {
    input {
      width: 40vw;
    }

    &--medium {
      textarea {
        width: 40vw;
        height: 130px;
      }
    }

    &--large {
      textarea {
        width: 40vw;
        height: 200px;
      }
    }
  }
}
